.card-wrapper1{
   // background:transparent;
    display: flex;
    flex-direction: column;
   // justify-content: center;
    align-items: center;
}
// .card-title1{
//     display: flex;
// }
.item-image1{
    // position:absolute;
     width:80%;
     height:80%;
    border-radius: 4%;
    //z-index: 200;
}
.carousel_card_wrapper1{
    border-radius: 2%;
    height:450px;
    background: rgba(#202020,0.64);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    
}
.carousel{
    display:flex !important;
    align-items: center !important ;
    justify-content: center !important;
    width: 70% !important;
    margin-top:60px !important;
    align-items: center !important;
    // .carousel-item{
    //    -webkit-backface-visibility: hidden !important;
    // }
    // .carousel-item-left{
    //     display:block !important;
    //    // transform: translateX(-100%) !important;
    
   // }
}
.carousel-inner{
     width: 70% !important;
}
  .carousel-indicators {
    bottom: -80px !important;
    li{ 
        border-radius:50%!important;
        width: 0.7rem !important;
        height: 0.7rem !important;
        
     }
     .active{
        background-color: rgb(235, 92, 92)!important;
     }
  }    
.heading1{
    display:flex;
    justify-content: center;
    font-size: 3rem;
    font-family: $heading;
    color: #E1DDDD
}
.content1{
    display:flex;
    justify-content: center;
    font-size: 1.5rem;
    font-family: $font-3;
    color: #E1DDDD
}