.width{
   width: 250px;
}
.bg{
    background: #202020 !important; 
}
.title{
    font-weight: bold;
}
.text{
    color: #E1DDDD;
}
.effect{
    border: 0.5px solid #E1DDDD !important;
    border-radius: 2px;
    box-shadow: #696969 0px 3px 8px;
}