.body{
    background:transparent
}
.center{
    justify-content: center;
    align-items: center;
    display: flex;
}
.bg{
    background: linear-gradient(247.97deg, rgba(81, 63, 57, 0.36) 2.22%, #513F39 56.86%) !important;
     width: 80%;
    
}
.card{
    border:0px !important;
    
}
.form_align{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.group{
    padding: 5;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
}
.label{
    color: #E1DDDD
}
.placeholder{
    color:  #4D4B4B!important;
    opacity: 0.2;
    height: 40px !important;
}
.textarea{
    display: flex;
    width: 40%;
    height: 100px;
    color: #4D4B4B;
    opacity: 0.2;
}
.title{
    color:#E1DDDD;
    margin-bottom:20px;
    font-size: 36px;
}