.body{
    background:#282828
}
.center{
    justify-content: center;
    align-items: center;
    display: flex;
}
.bg{
     background: rgba(#7c7c7c,0.8);
     width: 80%;
    
}
.card{
    border:0px !important;
    
}
.form_align{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.group{
    padding: 5;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
}
.label{
    color: #E1DDDD
}
.placeholder{
    color: #4D4B4B;
    opacity: 0.2;
    height: 10px;
}
.textarea{
    display: flex;
    width: 40%;
    height: 100%;
    color: #4D4B4B;
    opacity: 0.2;
}
.title{
    color:#E1DDDD;
    margin-bottom:20px;
    font-size: 36px;
}