.intro_wrapper{
    display:flex;
    flex-direction:column;
   // justify-content:center;
   margin-top:200px;
    align-items: start;
}
.me_text{
    color: #E1DDDD;
    font-weight: 600;
    font-size: 2.9rem;
    font-family: $font-3;
    
}
.arrow{
    color: #616161;
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    
    justify-content: center;
    //margin-top: -100px;
    
}
.arrow_{
    cursor: pointer;
    animation: arrowDown 1.5s infinite alternate forwards;
}
    @keyframes arrowDown {
        0% {
            padding-top:0px;  
        }
        100% {
            padding-top:3px;  
            }
    }
.photo{
    width: 90%;
    height: 90%;
   margin-top: 20px;
   animation: a1 8s linear;
}
@keyframes a1{
    0%{ opacity: 0}
    25%{ opacity: 0.5}
    50%{ opacity: 0.75}
    100%{ opacity: 1}
}
@media (max-width: 998px){
    .me_text{
       font-size: 2.2rem;
       
    }
    .intro_wrapper{
       margin-top:150px;
    }
    .photo{
       margin-top:-100px; 
    }
    .arrow{
        margin-top:-180px;
    }

}
@media (max-width: 768px){
    .me_text{
        font-weight: 600;
        font-size: 1.8rem;
        
    }
    .intro_wrapper{
       margin-top:90px;
        align-items: start;
    }
    .photo{
        width: 90%;
        height: 90%;
       margin-top: -100px;
    }
    .arrow{
        margin-top:-150px;
    }

}
@media (max-width: 450px){
    .me_text{
        font-weight: 600;
        font-size: 1.5rem;
        
    }
    .intro_wrapper{
       margin-top:90px;        
    }
    .photo{
        width: 120%;
        height: 120%;
       margin-top: -350px;
    }
    .arrow{
        margin-top:-200px;
    }

}
@media (max-width: 380px){
    .me_text{
        font-weight: 600;
        font-size: 1.5rem;
    }
    .intro_wrapper{
       margin-top:90px;        
    }
    .photo{
        width: 120%;
        height: 120%;
        margin-top: -350px;
    }
    .arrow{
        margin-top:-200px;
    }

}