.intro_wrapper{
    display:flex;
    flex-direction:column;
   // justify-content:center;
   margin-top:200px;
    align-items: start;
}
.me_text{
    color: #E1DDDD;
    font-weight: 600;
    font-size: 2.9rem;
    font-family: $font-3;
    
}
.arrow{
    color: #616161;
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    
    justify-content: center;
    //margin-top: -100px;
    
}
.arrow_{
    cursor: pointer;
    animation: arrowDown 1.5s infinite alternate forwards;
}
    @keyframes arrowDown {
        0% {
            padding-top:0px;  
        }
        100% {
            padding-top:3px;  
            }
    }
.photo{
    width: 90%;
    height: 90%;
   margin-top: 20px;
   animation: a1 8s linear;
}
@keyframes a1{
    0%{ opacity: 0}
    25%{ opacity: 0.5}
    50%{ opacity: 0.75}
    100%{ opacity: 1}
}