.j-wrapper{
    background: #282828 !important;
}
.front{
    display: flex;
    flex-direction:'row';
    justify-content: center;
    margin-top:40px;

}
.end{
    
    display: flex;
    justify-content: center;
}

.circle1{
    width: 200px;
    height: 200px;
    background:#6a7a37;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}
.circle2{
    width: 300px;
    height: 300px;
    background:#9e2c2c;
    border-radius: 50%;
    margin-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    animation-delay: 6s;
}
.circle3{
    width: 250px;
    height: 250px;
    background:#4865B0;
    border-radius: 50%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    animation-delay: 18s;
}
.circle4{
    width: 180px;
    height: 180px;
    background:#807e7e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    animation-delay: 12s;
}
.text{
    color: #E1DDDD;
    font-family: $heading;
    font-size:1.5rem;
}

.skill_title{
        svg {
        display: block;
        font: 1.5em 'Montserrat';
        width: 960px;
        height: 300px;
        margin: 0 auto;
    }

    .text-copy {
        fill: none;
        stroke: white;
        stroke-dasharray: 6% 29%;
        stroke-width: 5px;
        stroke-dashoffset: 0%;
        animation: stroke-offset 5.5s infinite linear;
    }

    .text-copy:nth-child(1){
        stroke: #558634;
        animation-delay: -1;
    }

    .text-copy:nth-child(2){
        stroke: #8b3e5e;
        animation-delay: -2s;
    }

    .text-copy:nth-child(3){
        stroke: #b94f6d;
        animation-delay: -3s;
    }

    .text-copy:nth-child(4){
        stroke: #d47a94;
        animation-delay: -4s;
    }

    .text-copy:nth-child(5){
        stroke: #d6af66;
        animation-delay: -5s;
    }

    @keyframes stroke-offset{
        100% {stroke-dashoffset: -35%;}
    }
}
