.me_body{
    background: #282828;
    display: flex;
    flex-direction: column
}
.me_text{
    color: #E1DDDD;
    font-weight: 600;
    font-size: 3rem;
    font-family: $heading;
    margin-left: 50px;
    
}

  .me_photo {
    position: absolute;
    animation: right_to_left 10s ease;
    width: 200%;
    height: 200%;
    margin-left:-95%;
    margin-top:0 auto;
    top:-30%;
    z-index: 0;
  }
  
  
  .me_name {
    text-align: right;
    animation: left_to_right 4s linear;
    //animation-duration: 3s;
    font-family: $font-2;
    font-size: 5rem;
    color: #E1DDDD;
    margin-left:200px;
    margin-top:140px;
    //bottom: 10%;
    
  }

  .me_wrapper{
      margin-top:120px;
      
  }
  
  @keyframes right_to_left {
    0% {
      opacity: 0;
    }
    50%{ 
        opacity:0;
    }
    100%{
     opacity:1;

    }
  }
  
  @keyframes left_to_right {
    0% {
        opacity: 0;
      margin-left: -100%;
    }
    50%{ 
        opacity: 0;
        margin-left: -50%; 
    }
    100% {
        opacity: 1;
      margin-left: 200px;
    }
  }
