.footer_wrapper{
    background: #282828;
}
.logo{
    align-items: space-between !important;
    justify-content: center;
    display: flex;
}
.img{
    padding-right: 20px;
    width: 80%;
}
.name{
    background: linear-gradient(to right, #E96969, #86B2E8 );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;      
   
}
.name_div{
    padding: 20px;
}