@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');

$font-1:Ubuntu;
$heading:Acme;
$font-2:Euphoria Script;