@import "./abstracts/font.scss";
@import "./components/form.scss";
@import "./components/navbar.scss";
@import "./components/socialFooter.scss";
@import "./components/skills.scss";
@import "./components/intro.scss";
@import "./components/journey.scss";
@import "./components/cardContainer.scss";
@import "./components/admin.scss";

body{
    background:#282828 !important;
}
.home-container{
    background: url("../assets/bg.svg");
   // background-repeat : no-repeat;
  // background-position : center;
   background-size :contain;

}
.home_container_main{
    background: url("../assets/bg.svg");
   // background-repeat : no-repeat;
  // background-position : center;
   background-size :contain;
   background-attachment: fixed;
}
.position{
    margin-bottom:140px;
    z-index: 200;
}
a{
    text-decoration: none;
}