@import "./abstracts/font.scss";
@import "./components/cardDisplay.scss";
@import "./components/form.scss";
@import "./components/navbar.scss";
@import "./components/socialFooter.scss";
@import "./components/skills.scss";
@import "./components/intro.scss";
@import "./components/journey.scss";
@import "./components/cardContainer.scss";

// .body{
//     background:#282828;
// }
.home-container{
    background: #282828;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.position{
    margin-bottom:140px;
}